.auth_bg {
  background-image: url("../images/auth_bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: block;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

.form_section {
  display: flex;
  justify-content: center;
  color: #fff;
  p {
    font-size: 0.85rem;
  }
  .form {
    width: 21.5rem;
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2.7rem 3.5rem 0rem 3.5rem;
    border-radius: 0.4rem;
    @media screen and (max-width: 740px) {
      width: 85%;
      padding: 1.3rem;
      height: 35rem;
    }
  }

  .sub_form_heading {
    font-size: 2rem;
    color: #e50914;
    font-weight: 700;
    margin-bottom: 1.4rem;
    margin-top: 0;
    @media screen and (max-width: 740px) {
      font-size: 1.7rem;
    }
  }

  .form_input {
    background: rgba(51, 51, 51, 0.767);
    border-radius: 4px;
    border: 0;
    color: #fff;
    height: 2rem;
    line-height: 0.4rem;
    padding: 0.6rem 0rem;
    width: 100%;
    margin-bottom: 0.5rem;
    text-indent: 10px;
  }
  .primary_button {
    color: #fff;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    background: #e50914;
    margin: 1rem 0;
    padding: 1rem 0;
    border: 0;
    cursor: pointer;
  }
}

.highlight {
  color: #e50914;
}
