.episode {
  background-color: #111;
  list-style: none;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #fff;
  padding-left: 1rem;
  display: block;
}
