.row__poster {
  height: 250px;
  margin: 0px 6px;
  transition: transform 450ms;
  @media screen and (max-width: 425px) {
    height: 160px;
  }
  @media screen and (max-width: 375px) {
    height: 150px;
  }
}

.row__poster img {
  width: 170px;
  height: 250px;
  @media screen and (max-width: 425px) {
    width: 100px;
    height: 160px;
  }
  @media screen and (max-width: 375px) {
    width: 95px;
    height: 150px;
  }
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
