.homeScreen {
  background-color: #111;
}

.sub_exp_container {
  display: flex;
  justify-content: center;
  div {
    text-align: center;
  }
  p {
    font-size: 1.9rem;
    font-weight: 600;
    color: #e50914;
  }
}

.primary_button_sub {
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  width: 200px;
  background: #e50914;
  margin: 1rem 0;
  padding: 0.6rem 0;
  border: 0;
  cursor: pointer;
}
